# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# large local media
public/video/*.mp4
public/video/*.webm
public/video/*.mov

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# system
.DS_Store

# testing
coverage/
playwright-report/
test-results/
